/* Here is your custom css styles. */

body{
    cursor: url("/medias/alternate.cur"),auto!important;
 }
 a {
    cursor: url("/medias/link.cur"),auto!important;
 }
 
 /* @font-face{
   font-family: 'simsun';
   src: url('/medias/simsun.ttc');
}

body{
   font-family: 'simsun';
} */
